body {
    font-family: roboto;
    color: #444;
    font-size: 15px;
    line-height: 23px;
}

a {
    text-decoration: none;
    color:#1565C0;
}

p {
    margin-top: 28px;
    margin-bottom: 28px;
}

.post-title {
    font-size: 40px;
    font-weight: 100;
}

.post-timestamp {
    font-size: 14px;
    font-weight: 100;
}

a:hover {
    text-decoration: underline;
    color:#1c528e;
}

#container {
    margin: 0 auto;
    max-width: 630px;
    padding-left: 50px;
    padding-right: 50px;
}
#site-menu {
    margin: 0 auto;
    max-width: 112px;
}
#site-menu ul {
    padding: 0px; 
    margin: 0px; 
    list-style: none;
}
#site-menu ul li {
    float: left;
}
#site-menu ul li a {
    color: #333;
    text-decoration: none;
}
#site-menu ul li a:hover {
    color: #222;
    text-decoration: underline;
}
#site-header {
    margin-top: 85px;
    margin-bottom: 20px;
}
#site-home-intro {
    font-style: italic;
    padding: 0 35px;
    font-size: 13px;
}
#site-title {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    text-align: center;
    font-size: 23px;
    color: #696969;
}
#site-title a {
    text-decoration: none;
    color: #333;
}

.site-post-link {
    text-decoration: none;
    color:#1565C0;
}

.site-post-link:hover {
    text-decoration: underline;
    color:#1c528e;
}

#site-main {
    padding-top: 5px;
    clear: both;
}

#site-footer {
    padding-top: 25px;
    padding-bottom: 50px;
    text-align: center;
    clear: both;
}

#site-footer-nav {
    padding-top: 8px;
}

#site-footer-copyright {
    font-size: 10px;
    clear: both;
    margin-top: -15px;
}

#site-footer ul { list-style: none; }
#site-footer ul li { display: inline; }

#site-footer a {
    padding-left: 5px;
    padding-right: 5px;
}
